html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
  background-color: #F1F4F3;
  font-family: 'Karla', sans-serif;
}

img {
  max-width:100%;
}

.baseline {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('baseline.png') ;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
  z-index: 130;
}

/* navigation */

nav.destkop {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-weight:900;
  width:100vw;
  z-index: 100;
  font-size: 16px;
  padding-top: 14.4px;

}

nav ul li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  margin-right: 33px;
}

nav a {
  color: #262626;
  text-decoration: none;

}

nav a:hover {
  color: #4B4B4B;
  text-decoration: none;
  border-bottom: 5px solid #f7c9d9;
  transition: 0.2s;

}


/* end navigation */


.intro {
  background-color: #F1F4F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  height:88vh;
  align-items: center;
  padding-bottom: 1.8em;
  }

.intro p {
  margin-bottom: 0.9em;
}




@keyframes scrolldown
 {
   50% {
     transform-origin: center;
     transform:translateY(8px);
   }

}

.wave {
  position: inherit;
  height:140px;
  background-color: #F1F4F3;
  background-image: url('wave.svg');
  background-size: auto 100%;
  background-repeat: repeat-x;
  animation: wave linear 10s infinite;
  z-index: 50; <!-- to place on wave behind about section to avoid white line in chrome -->
}


@keyframes wave {
  from {background-position: 0px 0;}
  to {background-position: 100% 0;}
    }

.about-info-wrapper
  {
     /* to place on top of wave *to avoid white line in chrome */
    z-index:60;
    margin-top: -3px;
       /* to place on top of wave *to avoid white line in chrome */
    background-color:#B4DFE8;
  }

.about-info {
  height: 100%;
  padding-bottom: 100px;
}

.projects-wrapper
    {
    background-color:#c8d5de; /* grey */
    padding-top: 30px;
    padding-bottom: 33px;
    }

.projects
    {
    padding-top: 30px;
    padding-bottom: 33px;
    }

.projects-top
        {
        padding-top: 70px;
        padding-bottom: 0px;
        }

button.projects-button {
      background-color: #313131;
      border: 0;
      height:57px;
      width:40%;
      color: #F4CF85;
      font-family: 'Roboto Mono', monospace;
      font-size: 0.8em;
}

button.projects-button:hover {
      background-color: #3B3B3B;
      height:57px;
      width:40%;
      transform-origin: center;
      transform: scale(1.04);
      transition-duration: 2;
      transition-timing-function: ease-in-out;
      transition: 0.5s;
      font-size:0.9em;
}

.contact-wrapper
    {
      background-color:#F4CF85;
    }

.contact-title
    {
      padding-top: 100px;
    }

#h4notop {
  margin-top: 0px;
}

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 10px;
      padding: 80px 20px 20px 20px;
      text-align: left;
      max-width:500px;
      margin-left: 1em;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    input {
      border: none;
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 13px;
    }

    input:hover {
      background-color: #FFFFFF;
      color: #4d5356;
      border-radius: 5px;
      border: 2px solid #F4CF85;
    }

    input:active {
      background-color: #FFFFFF;
      color: #4d5356;
      border-radius: 5px;
      border: 2px solid #F4CF85;
    }

    input:focus {
      background-color: #FFFFFF;
      color: #000000;
      border-radius: 5px;
      border: 2px solid #F4CF85;
      outline: 0px;
    }


    .form-question {
      font-weight: 900;
      margin-bottom: 12px;
    }

    .form-group {
      font-weight: 900;
      margin-bottom: 12px;
    }

    label
    {
      font-weight: 600;
      padding-bottom: 3px;
      margin:0px;
    }

    textarea {
      outline: none;
      font-size:1em;
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 13px;
      margin: 0px;
      min-height: 200px;
      resize: vertical;
    }

    textarea:hover {
      background-color: #FFFFFF;
      color: #4d5356;
      border-radius: 5px;
      border: 2px solid #F4CF85;
    }

    textarea:active {
      color: #4d5356;
      border-radius: 5px;
      border: 2px solid #F4CF85;
    }

    button[type="submit"] {
      background-color: ##C8D5DE;
      font-size:1em;
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 13px;
      max-width: 50%;
      text-align: center;
      margin-top: 8px;
    }

    button[type="submit"]:focus {
      background-color: #94979a;
      font-size:1em;
      color: #E7D2CC;
      border: 2px solid #E7D2CC;
      outline: 0px;
      border-radius: 5px;
      padding: 13px;
    }

    button[type="submit"]:active {
      background-color: #94979a;
      border: 2px solid #868B8E;
      font-size:1em;
      color: #E7D2CC;
      border-radius: 5px;
      padding: 13px;
    }

    button[type="submit"]:hover {
      background-color: #EAEAEA;
      border: 2px solid transparent;
      font-size:1em;
      outline: 0px;
      border-radius: 5px;
      padding: 13px;
    }



#hero-scrolldown {
  height: 50px;
}

#hero-scrolldown:hover {
  animation-name: scrolldown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  transform-origin: center;
}

#Ellipse_1:hover {
  fill: #000;
}

#about-picture {
  width: 300px;
}

#about-picture-mobile {
  display: none;
}




  @media (max-width: 576px)
      {
        .mobile-hide {
          display: none;
        }

        .nav-wrapper {
        display:none;
        }

        .about-info {
          text-align: center;
        }

        .wave {
          animation: wave linear 30s infinite;
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-radius: 10px;
          text-align: left;
          max-width:500px;
          margin-left: 0px;
        }

        #about-picture {
          display: none;
        }

        #about-picture-mobile {
          display: inline-block;
          width: 150px;
          line-height: 1.024;
          margin-bottom: 0.1em;
          padding-bottom: 1em;
        }

        #hero-scrolldown {
          height: 50px;
          animation-name: scrolldown;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function:ease-in-out;
          transform-origin: center;
        }
       }



      // Medium devices (tablets, 768px and below)
      @media (max-width: 768px) {


       }

      // Large devices (desktops, 992px and up)
      @media (max-width: 992px) {

        } }

      // X-Large devices (large desktops, 1200px and up)
      @media (max-width: 1200px) { ... }

      // XX-Large devices (larger desktops, 1400px and up)
      @media (max-width: 1400px) { ... }
