//base colors
$yellow: #f0cf65;
$white: #f0f7ee;
$orange: #d7816a;
$blue: #374077;
$bluenav: #374077EE;
$text-blue: #1F2C6B;


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin anchor-scroll {
  scroll-margin-top: 20px;
}

// vertical rhythm
$sgl-base-font-size: 14;
$sgl-base-line-height: 1.4;
$sgl-base-unit: em;
$sgl-scale-factor: 1.2;
$sgl-scale-factor: $MINOR_SIXTH !default;
